a:hover {
color: yellowgreen;
}
a {
    text-decoration: none;
}
head title {
    color: rgb(123, 166, 138);
}
h1 {
    color: rgb(123, 166, 138);
}
body {
    padding: 0px;
    margin: 0px;
}
main {
    padding: 16px
}
html body main a {
    color: rgb(151, 217, 132);
}
footer {
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 10px;
    padding-right: 0px;
    background-color: rgb(151, 217, 132);
    font-size: larger;
}
img {
    height: 200px
}
nav a {
    color: black;
}
nav {
   border-bottom: 1px solid rgb(242, 72, 34);
   background-color: rgb(242, 160, 61);
   color: rgb(242, 72, 34);
   padding: 16px;
   font-size: larger;
   color: black;
}
.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
tr:nth-child(even) {
    background-color: lightgrey;
}
